<div class="container">
  <section class="beginning">
    <div class="intro">
      <img src="../../assets/logos/WHL-white.png">
      <h1>Wheelhaus</h1>
      <i class="icon ion-arrow-down-b"></i>
    </div>
  </section>

  <section class="wrapper" (scroll)="onScrollEvent($event)">

    <div class="featured-items">
      <h2>Featured Bikes</h2>
      <div class="item" *ngFor='let bike of bikes'>
        <a href="/bike/show/{{ bike._id }}"><img src="{{ bike.image }}"></a>
        <h3>{{ bike.name }}</h3>
        <h4>${{ bike.price }}</h4>
      </div>
    </div>

    <div class="featured-items">
      <h2>Featured Accessories</h2>
      <div class="item" *ngFor='let accessory of accessories'>
          <a href="/accessories/show/{{ accessory._id }}"><img src="{{ accessory.image }}"></a>
          <h3>{{ accessory.name }}</h3>
          <h4>${{ accessory.price }}</h4>
      </div>
    </div>

    <div class="featured-items">
      <h2>Featured Apparel</h2>
      <div class="item" *ngFor='let a of apparel'>
        <a href="/apparel/show/{{ a._id }}"><img src="{{ a.image }}"></a>
        <h3>{{ a.name }}</h3>
        <h4>${{ a.price }}</h4>
      </div>
    </div>
  </section>

  <section class="footer">
    <h5>Legendary Media Production</h5>
    <h6>&copy;2017</h6>
  </section>

</div>
