<div class="container">
  <section class="beginning">
    <div class="intro">
      <img src="../../assets/logos/WHL-white.png">
      <h1>Wheelhaus</h1>
      <i class="icon ion-arrow-down-b"></i>
    </div>
  </section>

  <section class="wrapper" (scroll)="onScrollEvent($event)">
    <div class="featured-items">
      <h2>Featured Items</h2>
      <div class="item">
        <!--<div class="circle-one"></div>-->
        <img src="assets/bikes/bike2.png">
        <h3>The Monterey</h3>
        <h4>50 53 55 58 61 cm</h4>
      </div>
      <!--<hr>-->
      <div class="item">
        <!--<div class="fill"></div>
        <div class="circle-two"></div>-->
        <img src="assets/bikes/bike6.png">
        <h3>Joe Breeze</h3>
        <h4>53 55 58 61 63 cm</h4>
      </div>
      <!--<hr>-->
      <div class="item">
        <!--<div class="circle-three"></div>-->
        <img src="assets/bikes/bike9.png">
        <h3>The Angelfish</h3>
        <h4>50 55 58 61 cm</h4>
      </div>
    </div>
  </section>

  <section class="footer">
    <h5>Legendary Media Production</h5>
    <h6>&copy;2017</h6>
  </section>

</div>
