<section class="landing_cover">
  <div class="content">
      <p>wheelhaus</p>
      <p>presents</p>
      <h2>passionate design</h2>
      <hr>
      <h1>functional ride </h1>
      <a routerLink="/bikes" class="btn btn-ghost">view our products</a>
  </div>
</section>

<!-- Main One -->
<section class="grid">
  <div class="content_main">
      <h2>the collection</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, laboriosam numquam ipsam ullam id et, provident
          excepturi corporis possimus, expedita doloribus. Eaque ad dignissimos consectetur incidunt labore sint, cumque
          porro.
      </p>
      <a routerLink="/bikes" class="btn-empty">discover it here</a>
  </div>
  <div class="content_pic1"></div>
  <div class="content_pic2"></div>
  <div class="content_ad content_ad2">
      <img src="../../assets/bikes/bike_two.png" alt="bike">
      <div id="ad_text">
          <h3>speeder</h3>
          <p>featured</p>
          <a routerLink="/bikes">view the ride</a>
      </div>
  </div>
</section>

<!-- Content Two -->
<section class="grid">
  <div class="content_pic3"></div>
  <div class="content_pic5">
      <img src="../../assets/landing/wheelhaus_logo.png" alt="logo">
      <h2>beautify your lifestyle</h2>
  </div>
  <div class="content_pic6 content_ad">
      <img src="../../assets/bags/bag_two.png" alt="bag">
      <div id="ad_text">
          <h3>hauldem</h3>
          <p>featured</p>
          <a routerLink="/bikes">view product</a>
      </div>
  </div>
  <div class="content_pic4"></div>
  <div id="content_essential">
      <h2>the essentials</h2>
      <p>Bwef somewr psum dolor sit amet, consdf asd wd pol kpsectetur adipasd fasisicing elit. Vero, laborim numquam
          ipsam ullam id et, provident excepturi corporis possimus, expedita doloribus.
      </p>
      <a routerLink="/bikes" class="btn-empty">explore</a>
  </div>
</section>

<section id="content_end">
  <div id="end_text">
      <img src="../../assets/landing/wheelhaus_logo.png" alt="logo">
      <p>stylish design</p>
      <h2>all around functionality</h2>
      <a routerLink="/about">learn more</a>
  </div>
</section>
