<div class="container" *ngIf="other_events">
  <section class="details-hero">

    <!--  Event Title -->
    <p class="details-title">{{ event.title }} </p>
  </section>

  <section class="details-main">
    <!-- Details -->
    <div class="event-text">
      <h2>Details</h2>

      <br>

      <p>{{ event.description }}</p>

      <br>
      <a href="http://maps.google.com/?q=Los Angeles" target="_blank" >{{ event.address.street }}</a>
      <!-- linking to google maps api -->
      <p >{{ event.address.city }}, {{ event.address.state }} {{ event.address.zipcode }}</p>

      <br>

      <!-- facebook, twitter, google+ apis?  -->
      <div class="social-icons">
        <a href=""><img src="assets/icons/facebook.png" alt="facebook"></a>
        <a href=""><img src="assets/icons/twitter.png" alt="twitter"></a>
        <a href=""><img src="assets/icons/google.png" alt="google"></a>
      </div>

      <br>

      <!-- Modal pop-up thanking user for rsvping  -->
      <!-- might need to do ngIf to change button to 'unjoin' event -->
      <a [routerLink]="['/events/details']" class="button button-small">rsvp</a>

    </div>

    <div class="pic-one" >
      <img src="{{ event.image }}" alt="one">
      <div class="form-control">
        <h1>Location:</h1>
      </div>

      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>

  </section>

  <section class="popular-events">
    <h1>Other Events</h1>



    <div class="popular" >
      <img src="{{ other_events[0].image }}">
      <p class="popular-date">Date</p>
      <h1>{{ other_events[0].title }}</h1>
      <a href="/events/show/{{ other_events[0]._id }}" class="button button-small">details</a>
    </div>

    <hr>

    <div class="popular" >
      <img src="{{ other_events[1].image }}">
      <p class="popular-date">Date</p>
      <h1>{{ other_events[1].title }}</h1>
      <a href="/events/show/{{ other_events[1]._id }}" class="button button-small">details</a>
    </div>

    <hr>

    <div class="popular" >
      <img src="{{ other_events[2].image }}">
      <p class="popular-date">Date</p>
      <h1>{{ other_events[2].title }}</h1>
      <a href="/events/show/{{ other_events[2]._id }}" class="button button-small">details</a>
    </div>

    <hr>
    <a href="/events" class="button button-small button-large">all events</a>
  </section>

  <app-footer></app-footer>
</div>
