<div class="container">
  <section class="details-hero">
    <p class="details-quote">"Be daring, be different, be impractical; be anything that will assert integrity of purpose and imaginative vision against the play-it-safers." <span>- CECIL BEATON</span></p>
  </section>

   <section class="details-main"> 
    <h1>Event: Title</h1>
    <p><b>Jun 04, 2016 | Venice, CA</b></p>
    <p>Excepteur laboris esse deserunt irure incididunt eu consectetur velit ut aliqua ea exercitation commodo in. Reprehenderit occaecat dolore proident officia eu irure occaecat consectetur pariatur ea do veniam commodo adipisicing. Ad ex laborum velit irure mollit nisi mollit incididunt. Voluptate exercitation dolor deserunt qui nisi irure amet nostrud culpa deserunt. Sit dolore sit nulla aliquip pariatur velit mollit ullamco deserunt veniam anim tempor. Magna occaecat do pariatur nisi minim pariatur incididunt irure consectetur dolore consequat elit. Tempor nulla quis dolore irure dolor nulla ea sint sint voluptate ipsum qui et non.</p>
  </section>  
</div>