<div class="container">
  <section class="beginning">
    <div class="intro">
      <h1>Wheelhaus</h1>
      <h2>Events</h2>
      <i class="icon ion-arrow-down-b"></i>
    </div>
  </section>

  <section class="wrapper">
    <div class="bikes">
        <h3>Add Event</h3>

        <form (submit)="holdEventDetails(formData)" #formData="ngForm">
            <label>
                <p>Title: <input type="text" name="title" ngModel></p>
            </label>

            <label>
                <p>Description:</p>
                <textarea name="description" cols="30" rows="10" ngModel></textarea>
            </label>

            <label>
                <p>Street: <input type="text" name="street" ngModel></p>
            </label>

            <label>
                <p>City: <input type="text" name="city" ngModel></p>
            </label>

            <label>
                <p>State: <input type="text" name="state" ngModel></p>
            </label>

            <label>
                <p>Zipcode: <input type="number" name="zipcode" ngModel></p>
            </label>

            <label>
                <p>Date: <input type="date" name="date" ngModel></p>
            </label>

            <label>
                <p>File: <input type="file" name="image" ng2FileSelect [uploader]="uploader"/></p>
            </label>

            <label>
                <p *ngFor="let file of uploader.queue">
                    <button (click)="file.upload()">Add</button>
                </p>
            </label>
        </form>
    </div>
  </section>

  <section class="footer">
    <h5>Legendary Media Production</h5>
    <h6>&copy;2017</h6>
  </section>

</div>
