<!-- USED TO ADD NEW PRODUCTS IN -->
<!-- <h1>LKJFDSKJFLSJFLKJS</h1> -->
<!-- <form (submit)="holdAccessoryDetails(formData)" #formData="ngForm">
    <p>Name: <input type="text" name="name" ngModel></p>
    <p>Description:</p>
    <textarea name="description" cols="30" rows="10" ngModel></textarea>
      <p>Quantity: <input type="number" name="quantity" ngModel></p>
      <p>Price: <input type="number" name="price" ngModel></p>
    Limited?
    <input type="checkbox" name="limited" ngModel>
      <p>File: <input type="file" class="form-control" name="image" ng2FileSelect [uploader]="uploader"/></p>
      <p *ngFor="let file of uploader.queue">
        <button (click)="file.upload()">Add</button>
      </p>
</form> -->

<div class="container">
  <section class="beginning">
    <div class="intro">
      <h1>Wheelhaus</h1>
      <h2>Accessories</h2>
      <i class="icon ion-arrow-down-b"></i>
    </div>
  </section>

  <section class="sort">
    <div class="dropdown">
      <button class="dropbtn">SORT BY</button>
      <div class="dropdown-content">
        <button (click)="getAllAccessories()" class="sort_unique">Featured</button>
        <button (click)="getExpensive()">Highest $</button>
        <button (click)="getCheapest()">Lowest $</button>
        <button (click)="mostPopular()">Most Popular</button>
        <button (click)="getLimited()">Limited Edition</button>
      </div>
    </div>
  </section>


  <section class="wrapper">
    <div class="bikes">
      <div class="item" *ngFor="let accessory of all_accessories">
        <img src="{{ accessory.image }}">
        <h3>{{ accessory.name }}</h3>
        <h4>${{ accessory.price }}</h4>
        <button (click)="addItem(accessory._id)">Add to Cart</button>
      </div>
    </div>
  </section>

  <section class="footer">
    <h5>Legendary Media Production</h5>
    <h6>&copy;2017</h6>
  </section>

</div>
