<div class="container">
  <section class="beginning">
    <div class="intro">
      <h1>Wheelhaus</h1>
      <h2>Accessories</h2>
      <i class="icon ion-arrow-down-b"></i>
    </div>
  </section>

  <section class="sort">
    <div class="dropdown">
      <button class="dropbtn">SORT BY</button>
      <div class="dropdown-content">
        <button (click)="getAllAccessories()" class="sort_unique">Featured</button>
        <button (click)="getExpensive()">Highest $</button>
        <button (click)="getCheapest()">Lowest $</button>
        <button (click)="mostPopular()">Most Popular</button>
        <button (click)="getLimited()">Limited Edition</button>
      </div>
    </div>
  </section>


  <section class="wrapper">
    <div class="bikes">
      <div class="item" *ngFor="let accessory of all_accessories">
        <img src="{{ accessory.image }}">
        <h3>{{ accessory.name }}</h3>
        <h4>${{ accessory.price }}</h4>
        <button (click)="addItem(accessory._id)">Add to Cart</button>
      </div>
    </div>
  </section>

  <section class="footer">
    <h5>Legendary Media Production</h5>
    <h6>&copy;2017</h6>
  </section>

</div>
