/* ------------------------------------- */
/* Intro  */
/* ------------------------------------- */

* {
    margin: 0;
    box-sizing: border-box;
    transition: all ease-in-out .3s;
}

img {
    width: 100%;
    height: auto;
} 

hr {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.container {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

/* ------------------------------------- */
/* Events  */
/* ------------------------------------- */

.apparels {
    margin: 0;
    /* text-align: center !important; */
}

.apparel-item {
    margin: 0;
    position: relative;
}

.apparel-item img {
    display: block;
}

.apparel-desc {
    /* position: absolute; */
    /* z-index: 100; */
    /* bottom: 0em;
    left: 0em;
    right: 0em; */
    color: black;
    padding-bottom: 2em;
}

.event-desc p {
    margin: 1em;
}

.price {
    font-weight: 300;
}

.button {
    display: inline-block;
    font-size: .7rem;
    text-decoration: none;
    text-transform: uppercase;
    /* margin-bottom: 1em; */
    padding: .5em 1.75em;
    color: #00ffff;
    margin: 0;
}


/* ------------------------------------- */
/* Media Queries  */
/* ------------------------------------- */
 
 @media (min-width: 592px) {
    .apparel-item img {
        height: 256px;
    }

    hr {
        display: none;
    }
}  

@media (min-width: 37rem) {
    .apparel-item {
        width: 50%;
         float: left; 
    }
} 

@media (min-width:60rem ) {

    .button-small {
        font-size: .7rem;
        font-weight: 700;
    }

    .apparel-item {
        width: 33.3333334%;
        overflow: hidden; 
    }

    .button {
        opacity: 0;
    }

    .apparel-item:hover .button {
        opacity: 1;
    }

    .circle {
        opacity: 0;
        position: absolute;
        top:-17%;
        left: -11%;
        display: block;
        z-index: -1;
        background-color: #00ffff;
        border-radius: 300px;
        height: 55%;
        width: 57%;
        margin-top: 30%;
        margin-left: 32.5%;
        margin-bottom: 30%;
        margin-right: 32.5%;
    }

    .apparel-item:hover .circle {
        opacity:1;
    }
}

@media (min-width: 1200px) {
    .apparel-item {
        width: 25%;
        z-index: -2;
        overflow: hidden;
    }

    .circle {
        top:-17%;
        left: -17%;
        height: 60%;
        width: 65%;
    }
}

@media (min-width: 1400px) {
    .circle {
        top: -29%;
        height: 63%;
        width: 65%;
    }
}

@media (min-width: 1500px) {
    .circle {
        top: -28%;
        left: -12%;
        height: 63%;
        width: 58%;
    }
}

@media (min-width: 1500px) {
    .circle {
        top: -30%;
        left: -10%;
        height: 63%;
        width: 55%;
    }
}

@media (min-width: 1900px) {
    .circle {
        top: -39%;
        left: -8%;
        height: 68%;
        width: 52%;
    }
}
