<div class="container">
  <section class="beginning">
    <div class="intro">
      <img src="../../assets/logos/WHL-white.png">
      <h1>Wheelhaus</h1>
      <h2>Apparel</h2>
      <i class="icon ion-arrow-down-b"></i>
    </div>
  </section>

  <section class="sort">
      <div class="dropdown">
        <button class="dropbtn">SORT BY</button>
        <div class="dropdown-content">
          <!-- <button (click)="getAllAccessories()" class="sort_unique">Featured</button> -->
          <button (click)="getExpensive()">Highest $</button>
          <button (click)="getCheapest()">Lowest $</button>
          <button (click)="mostPopular()">Most Popular</button>
          <button (click)="getLimited()">Limited Edition</button>
        </div>
      </div>
  </section>

  <section class="wrapper">
    <div class="bikes">
      <div class="item" *ngFor="let apparel of apparels">
        <a [routerLink]="['show', apparel._id ]"><img src="{{ apparel.image }}"></a>
        <h3>{{ apparel.name }}</h3>
        <h4>${{ apparel.price }}</h4>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>



    <!-- portfolio item 01  -->
    <!--<figure class="apparel-item">
      <img src="assets/bikes/bike1.png" alt="eleven">
      <figcaption class="apparel-desc">
        <div class="circle"></div>
        <p>Apparel: title</p>
        <p class="price">$159.99</p>
        <a href="" class="button button-small">S</a>
        <a href="" class="button button-small">M</a>
        <a href="" class="button button-small">L</a>
      </figcaption>
    </figure>-->
