<div class="container">
  <section class="apparels">

    <!-- portfolio item 01  -->
    <figure class="apparel-item">
      <img src="assets/bikes/bike1.png" alt="eleven">
      <figcaption class="apparel-desc">
        <div class="circle"></div>
        <p>Apparel: title</p>
        <p class="price">$159.99</p>
        <a href="" class="button button-small">S</a>
        <a href="" class="button button-small">M</a>
        <a href="" class="button button-small">L</a>
      </figcaption>
    </figure>

    <hr align="middle">

    <!-- portfolio item 02  -->
    <figure class="apparel-item">
      <img src="assets/bikes/bike1.png" alt="eleven">
      <figcaption class="apparel-desc">
        <div class="circle"></div>
        <p>Apparel: title</p>
        <p class="price">$159.99</p>
        <a href="" class="button button-small">S</a>
        <a href="" class="button button-small">M</a>
        <a href="" class="button button-small">L</a>
      </figcaption>
    </figure>

    <hr>

    <!-- portfolio item 03  -->
    <figure class="apparel-item">
      <img src="assets/bikes/bike1.png" alt="eleven">
      <figcaption class="apparel-desc">
        <div class="circle"></div>
        <p>Apparel: title</p>
        <p class="price">$159.99</p>
        <a href="" class="button button-small">S</a>
        <a href="" class="button button-small">M</a>
        <a href="" class="button button-small">L</a>
      </figcaption>
    </figure>

    <hr>

    <!-- portfolio item 04  -->
    <figure class="apparel-item">
      <img src="assets/bikes/bike1.png" alt="eleven">
      <figcaption class="apparel-desc">
        <div class="circle"></div>
        <p>Apparel: title</p>
        <p class="price">$159.99</p>
        <a href="" class="button button-small">S</a>
        <a href="" class="button button-small">M</a>
        <a href="" class="button button-small">L</a>
      </figcaption>
    </figure>

    <hr>

    <!-- portfolio item 05  -->
    <figure class="apparel-item">
      <img src="assets/bikes/bike1.png" alt="eleven">
      <figcaption class="apparel-desc">
        <div class="circle"></div>
        <p>Apparel: title</p>
        <p class="price">$159.99</p>
        <a href="" class="button button-small">S</a>
        <a href="" class="button button-small">M</a>
        <a href="" class="button button-small">L</a>
      </figcaption>
    </figure>

    <hr>

    <!-- portfolio item 06  -->
    <figure class="apparel-item">
      <img src="assets/bikes/bike1.png" alt="eleven">
      <figcaption class="apparel-desc">
        <div class="circle"></div>
        <p>Apparel: title</p>
        <p class="price">$159.99</p>
        <a href="" class="button button-small">S</a>
        <a href="" class="button button-small">M</a>
        <a href="" class="button button-small">L</a>
      </figcaption>
    </figure>

    <hr>

    <!-- portfolio item 07  -->
    <figure class="apparel-item">
      <img src="assets/bikes/bike1.png" alt="eleven">
      <figcaption class="apparel-desc">
        <div class="circle"></div>
        <p>Apparel: title</p>
        <p class="price">$159.99</p>
        <a href="" class="button button-small">S</a>
        <a href="" class="button button-small">M</a>
        <a href="" class="button button-small">L</a>
      </figcaption>
    </figure>

    <hr>

    <!-- portfolio item 08  -->
    <figure class="apparel-item">
      <img src="assets/bikes/bike1.png" alt="eleven">
      <figcaption class="apparel-desc">
        <div class="circle"></div>
        <p>Apparel: title</p>
        <p class="price">$159.99</p>
        <a href="" class="button button-small">S</a>
        <a href="" class="button button-small">M</a>
        <a href="" class="button button-small">L</a>
      </figcaption>
    </figure>

    <hr>

    <!-- portfolio item 09  -->
    <figure class="apparel-item">
      <img src="assets/bikes/bike1.png" alt="eleven">
      <figcaption class="apparel-desc">
        <div class="circle"></div>
        <p>Apparel: title</p>
        <p class="price">$159.99</p>
        <a href="" class="button button-small">S</a>
        <a href="" class="button button-small">M</a>
        <a href="" class="button button-small">L</a>
      </figcaption>
    </figure>

    <hr>

    <!-- portfolio item 10  -->
    <figure class="apparel-item">
      <img src="assets/bikes/bike1.png" alt="eleven">
      <figcaption class="apparel-desc">
        <div class="circle"></div>
        <p>Apparel: title</p>
        <p class="price">$159.99</p>
        <a href="" class="button button-small">S</a>
        <a href="" class="button button-small">M</a>
        <a href="" class="button button-small">L</a>
      </figcaption>
    </figure>

    <hr>

    <!-- portfolio item 11  -->
    <figure class="apparel-item">
      <img src="assets/bikes/bike1.png" alt="eleven">
      <figcaption class="apparel-desc">
        <div class="circle"></div>
        <p>Apparel: title</p>
        <p class="price">$159.99</p>
        <a href="" class="button button-small">S</a>
        <a href="" class="button button-small">M</a>
        <a href="" class="button button-small">L</a>
      </figcaption>
    </figure>

    <hr>

    <!-- portfolio item 12  -->
    <figure class="apparel-item">
      <img src="assets/bikes/bike1.png" alt="eleven">
      <figcaption class="apparel-desc">
        <div class="circle"></div>
        <p>Apparel: title</p>
        <p class="price">$159.99</p>
        <a href="" class="button button-small">S</a>
        <a href="" class="button button-small">M</a>
        <a href="" class="button button-small">L</a>
      </figcaption>
    </figure>

    <hr>

    <!-- portfolio item 13  -->
    <figure class="apparel-item">
      <img src="assets/bikes/bike1.png" alt="eleven">
      <figcaption class="apparel-desc">
        <div class="circle"></div>
        <p>Apparel: title</p>
        <p class="price">$159.99</p>
        <a href="" class="button button-small">S</a>
        <a href="" class="button button-small">M</a>
        <a href="" class="button button-small">L</a>
      </figcaption>
    </figure>

    <hr>

    <!-- portfolio item 14  -->
    <figure class="apparel-item">
      <img src="assets/bikes/bike1.png" alt="eleven">
      <figcaption class="apparel-desc">
        <div class="circle"></div>
        <p>Apparel: title</p>
        <p class="price">$159.99</p>
        <a href="" class="button button-small">S</a>
        <a href="" class="button button-small">M</a>
        <a href="" class="button button-small">L</a>
      </figcaption>
    </figure>

    <hr>

    <!-- portfolio item 15  -->
    <figure class="apparel-item">
      <img src="assets/bikes/bike1.png" alt="eleven">
      <figcaption class="apparel-desc">
        <div class="circle"></div>
        <p>Apparel: title</p>
        <p class="price">$159.99</p>
        <a href="" class="button button-small">S</a>
        <a href="" class="button button-small">M</a>
        <a href="" class="button button-small">L</a>
      </figcaption>
    </figure>

    <hr>

    <!-- portfolio item 16  -->
    <figure class="apparel-item">
      <img src="assets/bikes/bike1.png" alt="eleven">
      <figcaption class="apparel-desc">
        <div class="circle"></div>
        <p>Apparel: title</p>
        <p class="price">$159.99</p>
        <a href="" class="button button-small">S</a>
        <a href="" class="button button-small">M</a>
        <a href="" class="button button-small">L</a>
      </figcaption>
    </figure>

  </section>
</div>
