<script src="https://checkout.stripe.com/checkout.js"></script>
<header>
  <nav>
    <i class="icon ion-navicon" (click)="openSideMenu()"></i>
    <!-- <i class="icon ion-ios-cart" (click)="handlePayment()"></i> -->
    <a class="icon ion-ios-cart" routerLink="/cart">{{ cart }}</a>
    <!-- <i class="icon ion-ios-cart"><a routerLink="/bikes"></a></i> -->

  </nav>

  <div id="side-menu" class="side-nav">
    <a class="btn-close" (click)="closeSideMenu()">&times;</a>
    <a routerLink="/bikes" (click)="closeSideMenu()">Bikes</a>
    <a routerLink="/accessories" (click)="closeSideMenu()">Accessories</a>
    <a routerLink="/apparel" (click)="closeSideMenu()">Apparel</a>
    <a routerLink="/events" (click)="closeSideMenu()">Events</a>
    <a routerLink="/about" (click)="closeSideMenu()">About Us</a>
  </div>

</header>
