<div class="container">
  <section class="beginning">
    <div class="intro">
      <img src="../../assets/logos/WHL-white.png">
      <h1>Wheelhaus</h1>
      <h2>Bike Store</h2>
      <i class="icon ion-arrow-down-b"></i>
    </div>
  </section>

  <section class="sort">
      <div class="dropdown">
        <button class="dropbtn">SORT BY</button>
        <div class="dropdown-content">
          <button (click)="getAllBikes()" class="sort_unique">Featured</button>
          <button (click)="getExpensive()">Highest $</button>
          <button (click)="getCheapest()">Lowest $</button>
          <button (click)="mostPopular()">Most Popular</button>
          <button (click)="getLimited()">Limited Edition</button>
        </div>
      </div>
  </section>

  <section class="wrapper">
    <div class="bikes" >
      <div class="item" *ngFor="let bike of all_bikes">
        <a [routerLink]="['show', bike._id ]"><img src="{{ bike.image }}"></a>
        <h3>{{ bike.name }}</h3>
        <h4>${{ bike.price }}</h4>
      </div>
    </div>
  </section>

  <section class="footer">
    <h5>Legendary Media Production</h5>
    <h6>&copy;2017</h6>
  </section>
</div>
