<div class="container">
  <section class="beginning">
    <div class="intro">
      <h1>Wheelhaus</h1>
      <i class="icon ion-arrow-down-b"></i>
    </div>
  </section>

  <section class="featured-items">
    <div class="bikes">
      <div class="bike-one">
        <!--<div class="circle-one"></div>-->
        <img src="assets/bikes/bike1.png">
        <h3>Old Faithful</h3>
        <h4>50 53 55 58 61 cm</h4>
      </div>
      <hr>
      <div class="bike-two">
        <!--<div class="fill"></div>
        <div class="circle-two"></div>-->
        <img src="assets/bikes/bike5.png">
        <h3>Joe Breeze</h3>
        <h4>53 55 58 61 63 cm</h4>
      </div>
      <hr>
      <div class="bike-three">
        <!--<div class="circle-three"></div>-->
        <img src="assets/bikes/bike3.png">
        <h3>The Angelfish</h3>
        <h4>50 55 58 61 cm</h4>
      </div>
      <hr>
      <div class="bike-three">
        <img src="assets/bikes/bike6.png">
        <h3>The Monterey</h3>
        <h4>50 55 58 61 cm</h4>
      </div>
      <hr>
      <div class="bike-three">
        <img src="assets/bikes/bike9.png">
        <h3>Window Dressing</h3>
        <h4>50 55 58 61 cm</h4>
      </div>
      <hr>
      <div class="bike-three">
        <img src="assets/bikes/bike8.png">
        <h3>Saturday Night Date</h3>
        <h4>50 55 58 61 cm</h4>
      </div>
      <hr>
      <div class="bike-three">
        <img src="assets/bikes/bike10.png">
        <h3>Mississippi</h3>
        <h4>50 55 58 61 cm</h4>
      </div>
      <hr>
      <div class="bike-three">
        <img src="assets/bikes/bike7.png">
        <h3>Tall Glass A</h3>
        <h4>50 55 58 61 cm</h4>
      </div>
      <hr>
      <div class="bike-three">
        <img src="assets/bikes/bike2.png">
        <h3>BFF</h3>
        <h4>50 55 58 61 cm</h4>
      </div>
      <hr>
      <div class="bike-three">
        <img src="assets/bikes/bike4.png">
        <h3>The Olympic</h3>
        <h4>50 55 58 61 cm</h4>
      </div>
      <hr>
      <div class="bike-three">
        <img src="assets/bikes/bike11.png">
        <h3>Casa de Campo</h3>
        <h4>50 55 58 61 cm</h4>
      </div>
      <hr>
      <div class="bike-three">
        <img src="assets/bikes/bike12.png">
        <h3>Long Goodbye</h3>
        <h4>50 55 58 61 cm</h4>
      </div>
      <hr>
      <div class="bike-three">
        <img src="assets/bikes/bike13.png">
        <h3>Rum Raisin</h3>
        <h4>50 55 58 61 cm</h4>
      </div>
      <hr>
      <div class="bike-three">
        <img src="assets/bikes/bike14.png">
        <h3>Central Park</h3>
        <h4>50 55 58 61 cm</h4>
      </div>
      <hr>
      <div class="bike-three">
        <img src="assets/bikes/bike15.png">
        <h3>du Luxembourg</h3>
        <h4>50 55 58 61 cm</h4>
      </div>
      <hr>
      <div class="bike-three">
        <img src="assets/bikes/bike16.png">
        <h3>Tiergarten</h3>
        <h4>50 55 58 61 cm</h4>
      </div>
    </div>
  </section>

  <section class="footer">
    <h5>Legendary Media Production</h5>
    <h6>&copy;2017</h6>
  </section>

</div>
