
<!-- <h1>LKJFDSKJFLSJFLKJS</h1>
<form (submit)="holdEventDetails(formData)" #formData="ngForm">
    <p>Title: <input type="text" name="title" ngModel></p>
    <p>Description: <textarea name="description" rows="3" cols="30" ngModel></textarea></p>
    <p>Street: <input type="text" name="street" ngModel></p>
    <p>City: <input type="text" name="city" ngModel></p>
    <p>State: <input type="text" name="state" ngModel></p>
    <p>Zipcode: <input type="number" name="zipcode" ngModel></p>
    <p>Date: <input type="date" name="date" ngModel></p>
      <p>File: <input type="file" class="form-control" name="image" ng2FileSelect [uploader]="uploader"/></p>
      <p *ngFor="let file of uploader.queue">
        <button (click)="file.upload()">Add</button>
      </p>
</form> -->


<div class="container">
  <section class="event-hero">
    <h1 class="event-title">One for all, all for one
      <span>connecting through cycling</span>
    </h1>
  </section>

  <section class="events">
    <h1>Some of our events</h1>

    <!-- events item 01  -->
    <figure class="event-item" *ngFor="let event of all_events">
      <img src="{{ event.image }}">
      <figcaption class="event-desc">
        <p>{{ event.title }}</p>
        <a href="/events/{{event._id}}"class="button button-small">Event Details</a>
      </figcaption>
    </figure>
  </section>
</div>
