<div class="container">
  <section class="event-hero">
    <h1 class="event-title">One for all, all for one
      <span>connecting through cycling</span>
    </h1>
  </section>

  <section class="events">
    <h1>Some of our events</h1>

    <!-- portfolio item 01  -->
    <figure class="event-item">
      <img src="assets/img-events/eight_event.jpg" alt="eight">
      <figcaption class="event-desc">
        <p>Event: title</p>
        <a [routerLink]="['/events/details']" class="button button-small">Event Details</a>
      </figcaption>
    </figure>

        <!-- portfolio item 02  -->
    <figure class="event-item">
      <img src="assets/img-events/eleven_event.jpg" alt="eleven">
      <figcaption class="event-desc">
        <p>Event: title</p>
        <a href="" class="button button-small">Event Details</a>
      </figcaption>
    </figure>

        <!-- portfolio item 03  -->
    <figure class="event-item">
      <img src="assets/img-events/five_event.jpg" alt="five">
      <figcaption class="event-desc">
        <p>Event: title</p>
        <a href="" class="button button-small">Event Details</a>
      </figcaption>
    </figure>

    <!-- portfolio item 04  -->
    <figure class="event-item">
      <img src="assets/img-events/four_event.jpg" alt="four">
      <figcaption class="event-desc">
        <p>Event: title</p>
        <a href="" class="button button-small">Event Details</a>
      </figcaption>
    </figure>

    <!-- portfolio item 05  -->
    <figure class="event-item">
      <img src="assets/img-events/nine_event.jpg" alt="nine">
      <figcaption class="event-desc">
        <p>Event: title</p>
        <a href="" class="button button-small">Event Details</a>
      </figcaption>
    </figure>

    <!-- portfolio item 06  -->
    <figure class="event-item">
      <img src="assets/img-events/one_event.jpg" alt="one">
      <figcaption class="event-desc">
        <p>Event: title</p>
        <a href="" class="button button-small">Event Details</a>
      </figcaption>
    </figure>

    <!-- portfolio item 07  -->
    <figure class="event-item">
      <img src="assets/img-events/seven_event.jpg" alt="seven">
      <figcaption class="event-desc">
        <p>Event: title</p>
        <a href="" class="button button-small">Event Details</a>
      </figcaption>
    </figure>

    <!-- portfolio item 08  -->
    <figure class="event-item">
      <img src="assets/img-events/six_event.jpg" alt="six">
      <figcaption class="event-desc">
        <p>Event: title</p>
        <a href="" class="button button-small">Event Details</a>
      </figcaption>
    </figure>

    <!-- portfolio item 09  -->
    <figure class="event-item">
      <img src="assets/img-events/ten_event.jpg" alt="ten">
      <figcaption class="event-desc">
        <p>Event: title</p>
        <a href="" class="button button-small">Event Details</a>
      </figcaption>
    </figure>

    <!-- portfolio item 10  -->
    <figure class="event-item">
      <img src="assets/img-events/three_event.jpg" alt="three">
      <figcaption class="event-desc">
        <p>Event: title</p>
        <a href="" class="button button-small">Event Details</a>
      </figcaption>
    </figure>

    <!-- portfolio item 11  -->
    <figure class="event-item">
      <img src="assets/img-events/twelve_event.jpg" alt="twelve">
      <figcaption class="event-desc">
        <p>Event: title</p>
        <a href="" class="button button-small">Event Details</a>
      </figcaption>
    </figure>

    <!-- portfolio item 12  -->
    <figure class="event-item">
      <img src="assets/img-events/two_event.jpg" alt="two">
      <figcaption class="event-desc">
        <p>Event: title</p>
        <a href="" class="button button-small">Event Details</a>
      </figcaption>
    </figure>
  </section>
</div>