/* ------------------------------------- */
/* Intro  */
/* ------------------------------------- */

* {
    margin: 0;
    box-sizing: border-box;
    transition: all ease-in-out 250ms;
}

img {
    width: 100%;
    height: auto;
} 

.container {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.event-hero {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./../../assets/img-events/four.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    color: #fff;
}

.event-title {
    position: relative;
    width: 100%;
    top: 50%;
    left: 50%;
    font-size: 2.8rem;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.event-title span {
    font-weight:300;
    display:block;
    font-size: .9em;
}

/* ------------------------------------- */
/* Events  */
/* ------------------------------------- */

.events {
    margin: 0;
}
.events h1 {
    font-weight: 300;
}

.event-item {
    margin: 0;
    position: relative;
}

.event-item img {
    display: block;
}

.event-desc {
    position: absolute;
    z-index: 100;
    bottom: 0em;
    left: 0em;
    right: 0em;
    color: white;
    background: rgba(0,0,0,0.75);
    padding-bottom: 2em;
}

.event-desc p {
    margin: 1em;
}

.button {
    display: inline-block;
    font-size: 1.15rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    /* margin-bottom: 1em; */
    padding: .5em 1.75em;
    color: #00ffff;
    border-color:#00ffff;
}

.button:hover,
.button:active {
    background-color: #00ffff;
    color: #fff;
}


/* ------------------------------------- */
/* Media Queries  */
/* ------------------------------------- */

@media (max-width:376px) {
    .event-title {
        font-size: 2rem;
    }
}
 
 @media (min-width: 592px) {
    .event-item img {
        height: 256px;
    }
}  

 @media (min-width: 768px) {
    .event-item img {
        height: 338px;
    }
}  

@media (min-width: 37rem) {
    .event-item {
        width: 50%;
         float: left; 
    }
} 

@media (min-width:60rem ) {
    .font-size {
        font-size: 1.5rem;
    }

    .button-small {
        font-size: .7rem;
        font-weight: 700;
    }
    .event-title {
        font-size: 3.7rem;
    }
    .event-item {
        width: 33.3333334%;
         overflow: hidden; 
    }

    .event-desc {
        transform: translateY(150%);
    }

    .event-item:hover .event-desc {
        transform: translateY(0%);
    }
}