<div class="container">
  <section class="event-hero">
    <h1 class="event-title">One for all, all for one
      <span>connecting through cycling</span>
    </h1>
  </section>

  <section class="events">
    <h1>Some of our events</h1>

    <!-- events item 01  -->
    <figure class="event-item" *ngFor="let event of all_events">
      <img src="{{ event.image }}">
      <figcaption class="event-desc">
        <p>{{ event.title }}</p>
        <a href="/events/{{event._id}}"class="button button-small">Event Details</a>
      </figcaption>
    </figure>
  </section>
</div>
