<!-- USED TO ADD NEW PRODUCTS IN -->
<!-- <h1>LKJFDSKJFLSJFLKJS</h1>
<form (submit)="holdAccessoryDetails(formData)" #formData="ngForm">
    <p>Name: <input type="text" name="name" ngModel></p>
    <p>Description:</p>
    <textarea name="description" cols="30" rows="10" ngModel></textarea>
      <p>Quantity: <input type="number" name="qty" ngModel></p>
      <p>Price: <input type="number" name="cost" ngModel></p>
    Limited?
    <input type="checkbox" name="limited" ngModel>
      <p>File: <input type="file" class="form-control" name="image" ng2FileSelect [uploader]="uploader"/></p>
      <p *ngFor="let file of uploader.queue">
        <button (click)="file.upload()">Add</button>
      </p>
</form>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Cost</th>
    <th>Qty</th>
    <th>Bought</th>
    <th>Path</th>
    <th>Limited</th>
  </tr>
  <tr *ngFor="let accessory of all_accessories">
    <td>{{ accessory.name }}</td>
    <td>{{ accessory.description }}</td>
    <td>{{ accessory.cost }}</td>
    <td>{{ accessory.qty }}</td>
    <td>{{ accessory.bought }}</td>
    <td>
      <img src="assets/accessories_images/{{ accessory.path }}" alt="">
    </td>
    <td>{{ accessory.limited }}</td>
  </tr>
</table> -->
<!-- DO NOT DELETE ~ THIS WILL ADD PRODUCTS -->

<div class="container">
  <section class="beginning">
    <div class="intro">
      <h1>Wheelhaus</h1>
      <h2>Accessories</h2>
      <i class="icon ion-arrow-down-b"></i>
    </div>
  </section>

  <section class="wrapper">
    <div class="bikes" *ngFor="let accessory of all_accessories">
      <div class="item">
        <img src="assets/accessessories_images/{{ accessory.path }}">
        <h3>{{ accessory.name }}</h3>
        <h4>${{ accessory.cost }}</h4>
      </div>
    </div>
  </section>

  <section class="footer">
    <h5>Legendary Media Production</h5>
    <h6>&copy;2017</h6>
  </section>

</div>
