<div class="container">
  <section class="beginning">
    <div class="intro">
      <img src="../../assets/logos/WHL-white.png">
      <h1>Wheelhaus</h1>
      <h2>Accessories</h2>
      <i class="icon ion-arrow-down-b arrow"></i>
    </div>
  </section>

  <section class="wrapper">
    <div class="bikes">
      <div class="item">
        <a href="#"><img src="assets/access/access1.jpg"></a>
        <h3>The Monterey</h3>
        <h4>Price</h4>
      </div>
      <hr>
      <div class="item">
        <a href="#"><img src="assets/access/access2.jpg"></a>
        <h3>Joe Breeze</h3>
        <h4>Price</h4>
      </div>
      <hr>
      <div class="item">
        <a href="#"><img src="assets/access/access3.jpg"></a>
        <h3>The Angelfish</h3>
        <h4>Price</h4>
      </div>
      <hr>
      <div class="item">
        <a href="#"><img src="assets/access/access4.jpg"></a>
        <h3>The Angelfish</h3>
        <h4>Price</h4>
      </div>
      <hr>
      <div class="item">
        <a href="#"><img src="assets/access/access5.jpg"></a>
        <h3>The Angelfish</h3>
        <h4>Price</h4>
      </div>
      <hr>
      <div class="item">
        <a href="#"><img src="assets/access/access6.jpg"></a>
        <h3>The Angelfish</h3>
        <h4>Price</h4>
      </div>
      <hr>
      <div class="item">
        <a href="#"><img src="assets/access/access7.jpg"></a>
        <h3>The Angelfish</h3>
        <h4>Price</h4>
      </div>
      <hr>
      <div class="item">
        <a href="#"><img src="assets/access/access8.jpg"></a>
        <h3>The Angelfish</h3>
        <h4>Price</h4>
      </div>
      <hr>
      <div class="item">
        <a href="#"><img src="assets/access/access9.jpg"></a>
        <h3>The Angelfish</h3>
        <h4>Price</h4>
      </div>
      <hr>
      <div class="item">
        <a href="#"><img src="assets/access/access10.jpg"></a>
        <h3>The Angelfish</h3>
        <h4>Price</h4>
      </div>
      <hr>
      <div class="item item-3">
        <a href="#"><img src="assets/access/access11.jpg"></a>
        <h3>The Angelfish</h3>
        <h4>Price</h4>
      </div>
      <hr>
      <div class="item item-2">
        <a href="#"><img src="assets/access/access12.jpg"></a>
        <h3>The Angelfish</h3>
        <h4>Price</h4>
      </div>
    </div>
  </section>
</div>
