<div class="container">
  <section class="beginning">
    <div class="intro">
      <h1>Wheelhaus</h1>
      <h2>Apparel</h2>
      <i class="icon ion-arrow-down-b"></i>
    </div>
  </section>

  <section class="wrapper">
    <div class="bikes">
        <h3>Add Apparel</h3>

        <form (submit)="holdApparelDetails(formData)" #formData="ngForm"> 
            <label>
                <p>Name: <input type="text" name="name" ngModel></p>
            </label>

            <label>
                <p>Description:</p>
                <textarea name="description" cols="30" rows="10" ngModel></textarea>
            </label>

            <label>
                <p>Quantity: <input type="number" name="quantity" ngModel></p>
            </label>

            <label>
                <p>Price: $<input type="number" name="price" ngModel></p>
            </label>

            <label>
                Limited? 
                <select name="limited" ngModel>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </label>

            <label>
                <p>File: <input type="file" name="image" ng2FileSelect [uploader]="uploader"/></p>
            </label>

            <label>
                <p *ngFor="let file of uploader.queue">
                    <button (click)="file.upload()">Add</button>
                </p>
            </label>
        </form>
    </div>
  </section> 

  <section class="footer">
    <h5>Legendary Media Production</h5>
    <h6>&copy;2017</h6>
  </section>

</div>
