<div class="container">
  <section class="beginning">
    <div class="intro">
      <img src="../../assets/logos/WHL-white.png">
      <h1>Wheelhaus</h1>
      <h2>Shopping Cart</h2>
      <i class="icon ion-arrow-down-b"></i>
    </div>
  </section>


  <section class="wrapper" *ngIf='shoppingCart'>
    <!-- <div class="cart"> -->
      <div class="items" *ngIf='shoppingCart.totalcost > 0'>
        <h4>
          My bag: {{ shoppingCart.length }} item(s)
          <div *ngIf='shoppingCart.totalcost > 0'>
            <p><button routerLink="/">Continue Shopping</button></p>
            <h4 *ngIf='shoppingCart.totalcost > 0'>Total: ${{ shoppingCart.totalcost }}</h4>
            <button (click)='handlePayment()'>Pay</button>
          </div>
        </h4>
          <div class="eachItem" *ngFor='let item of shoppingCart'>
            <img src="{{ item.image }}">
            <!-- <div class="eachItemDescription"> -->
              <h5>{{ item.name }}</h5>
              <p>Qty: {{ item.quantity }}</p>
              <p>${{ item.price }}</p>
              <p><button (click) = 'removeItem(item._id)'>Remove</button></p>
            <!-- </div> -->
          </div>
          <button (click)="clearCart()">Clear Cart</button>
      </div>
      <div class='getShopping' *ngIf='shoppingCart.totalcost == 0'>
        <button routerLink="/">What?!? Nothing in your bag? Get to shopping!</button>
      </div>
    <!-- </div> -->
  </section>

  <section class="footer">
    <h5>Legendary Media Production</h5>
    <h6>&copy;2017</h6>
  </section>

</div>
