/* ------------------------------------------ */
/* Land Image  */
/* ------------------------------------------ */

@media only screen and (max-width: 480px) {
    

      .container {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
    
      .beginning {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../../assets/backgrounds/apparel-back.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        background-attachment: fixed;
      }
    
      .intro {
        position: relative;
        width: 100%;
        top: 36%;
        left: 50%;
        text-transform: uppercase;
        text-align: center;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
      }
    
      .intro img {
        display: block;
        margin: auto;
        height: 60px;
      }
    
      .intro h1 {
        width: 100vw;
        margin: 0;
        color: white;
        font-size: 3em;
      }
    
      .intro h2 {
        color: white;
      }
    
      .intro .icon {
        font-size: 300%;
        color: white;
        position: fixed;
        padding-top: 40vh;
      }
    
      /* ------------------------------------------ */
      /* Section - Featured Items */
      /* ------------------------------------------ */
      
      .wrapper {
        padding: 1%;
        background: #1B1D1E;
        border-color: #1B1D1E;
        display: grid;
      }
    
      .item-left {
        padding-left: 3%;
        background-color: white;
        position: relative;
        display: inline-block;
        /* height: 95%; */
        /* margin: auto; */
        /* text-align: justify; */
        /* color: white; */
        /* padding-top: 5%; */
        /* color: black; */
        /* padding: 5%; */
      }
    
      .item-left img {
        margin: auto;
        width: 90%;
        padding: 5%;
      }
    
      .item-right {
        padding: 0 5%;
        background-color: white;
        position: relative;
        display: inline-block;
        vertical-align: top;
      }

      .item-right h1 {
        font-weight: bold;
        font-size: 2.5em;
      }
    
      .button {
        display: inline-block;
        font-size: 1.15rem;
        text-decoration: none;
        text-transform: uppercase;
        border-width: 2px;
        border-style: solid;
        padding: .5em 1.75em;
        color: #00ffff;
        border-color:#00ffff;
        background: #fff;
        /* margin-bottom: 1em; */
      }
    
      .button:hover,
      .button:active {
          background-color: #00ffff;
          color: #fff;
      }
    
      /* ------------------------------------------ */
      /* Section - Footer */
      /* ------------------------------------------ */
    
      .footer {
        background: #1B1D1E;
        border-color: #1B1D1E;
        color: white;
        text-transform: uppercase;
        padding: 2%;
      }
    
      .footer h5, h6 {
        text-align: center;
        margin: 0;
      }
    
      .container {
        border-color: #1B1D1E;
        font-family: 'Raleway', sans-serif;
      }
    
    }
    