/* ------------------------------------------ */
/* Land Image  */
/* ------------------------------------------ */

@media only screen and (min-width: 481px) {
    
    
      .container {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
    
      .beginning {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../../assets/backgrounds/apparel-back.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        background-attachment: fixed;
      }
    
      .intro {
        position: relative;
        width: 100%;
        top: 36%;
        left: 50%;
        text-transform: uppercase;
        text-align: center;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
      }
    
      .intro h1 {
        width: 100vw;
        margin: 0;
        color: white;
        font-size: 3em;
      }
    
      .intro h2 {
        color: white;
      }
    
      .intro .icon {
        font-size: 300%;
        color: white;
        position: fixed;
        padding-top: 50vh;
      }
    
      /* ------------------------------------------ */
      /* Section - Featured Items */
      /* ------------------------------------------ */
    
      .wrapper {
        /* outline: 3px solid blue; */
        padding: 1%;
        background: #1B1D1E;
        border-color: #1B1D1E;
      }
    
      .item-left {
        background-color: white;
        position: relative;
        /* outline: 1px solid red; */
        display: inline-block;
        width: 45%;
        /* height: 95%; */
        /* margin: auto; */
        /* text-align: justify; */
        /* color: white; */
        /* padding-top: 5%; */
        /* color: black; */
        /* padding: 5%; */
      }
    
      .item-right {
        background-color: white;
        /* outline: 1px solid red; */
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 45%;
        /* width: 45%; */
      }
    
      /* .item img  {
        display: block;
        margin: auto;
        width: 90%;
        padding: 5% 0;
      }
    
      .item hr {
        width: 80%;
        color: black;
      }
    
      .item h3 {
        color: black;
        text-align: center;
        margin: 0.3em;
        -webkit-margin-before:0em;
        -webkit-margin-after:0em;
      }
    
      .item h4 {
        color: darkgray;
        text-align: center;
        margin: 0;
      } */
    
      /* ------------------------------------------ */
      /* Section - Footer */
      /* ------------------------------------------ */
    
      .footer {
        background: #1B1D1E;
        border-color: #1B1D1E;
        color: white;
        text-transform: uppercase;
        padding: 2%;
      }
    
      .footer h5, h6 {
        text-align: center;
        margin: 0;
      }
    
      .container {
        border-color: #1B1D1E;
        font-family: 'Raleway', sans-serif;
      }
    
    }
    