<footer class="contact-hero">
  <div class="col-1">
    <ul class="unstyled-list">
      <li><strong>SOCIAL RESPONSIBILITY</strong></li>
      <li>Ad aliqua incididunt sint ea culpa aliquip nostrud eiusmod consequat magna esse. Labore officia irure sint dolor nulla. Veniam occaecat labore id sint esse.</li>
    </ul>
  </div>

  <div class="col-1">
    <ul class="unstyled-list">
      <li><strong>CONTACT US</strong></li>
      <li><a href="https://www.google.com/maps/place/Mission+Bicycle+Company/@37.7606184,-122.4239068,17z/data=!3m1!4b1!4m5!3m4!1s0x808f7e3d1e5ac11b:0xc12896f1c443177d!8m2!3d37.7606184!4d-122.4217181">766 Valencia St, San Francisco, CA 94110</a></li>
      <li>T: 415.683.6166</li>
    </ul>
  </div>

  <div class="col-1">
    <ul class="unstyled-list">
      <li><strong>OPENING HOURS</strong></li>
      <li>Monday - Saturday 11am-9:00pm</li>
      <li>Sunday 11am-7:00pm</li>
      <li>Closed for most major holidays</li>
    </ul>
  </div>

  <div class="col-1">
    <ul class="unstyled-list">
      <li><strong>CONNECT</strong></li>
      <li class="icons">
        <a href="https://www.facebook.com" class="ion-social-facebook" target="_blank"></a>
        <a href="https://www.instagram.com" class="ion-social-instagram" target="_blank"></a>
        <a href="https://www.twitter.com" class="ion-social-twitter" target="_blank"></a>
        <a href="https://github.com/jakekiernan/wheelhaus" class="ion-social-github" target="_blank"></a>
      </li>
    </ul>
  </div>

  <div class="footer">
    <h5>Legendary Media Production</h5>
    <h6>&copy;2017</h6>
  </div>
</footer>
