<footer>
  <div class="container">
      <div class="brand">
          <ul>
              <li>
                  <img src="../../assets/landing/wheelhaus_logo.png" alt="logo">
              </li>
              <li>
                  <h2>wheelhaus</h2>
              </li>
          </ul>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum nihil sint, repellat aut id quia suscipit
              incidunt facere repellendus quae quibusdam consequatur at omnis fugiat neque. Iste, nesciunt rem Praesentium.</p>
      </div>
      <div class="contacts">
          <h2>contact us</h2>
          <a href="suykim21@gmail.com">wheelhaus@whgroup.com</a>
          <br>
          <a id="contacts_a" href="https://www.google.com/maps/dir/''/''/data=!4m5!4m4!1m0!1m2!1m1!1s0x80c2ea6c6c8282f1:0xf9ad0b4cfa7866bc?sa=X&ved=0ahUKEwiEoK-dirvXAhWE5iYKHdflAs0Q9RcICzAA"
              target="blank_">2501 Honolulu Ave, Montrose, CA 91020</a>
          <p>(818)249-3909</p>
      </div>
      <div class="social">
          <h2>follow us</h2>
          <ul>
              <li>
                  <a href="https://www.facebook.com">
                      <i class="ion-social-facebook"></i>
                  </a>
              </li>
              <li>
                  <a href="https://www.instagram.com">
                      <i class="ion-social-instagram"></i>
                  </a>
              </li>
              <li>
                  <a href="https://www.twitter.com">
                      <i class="ion-social-twitter"></i>
                  </a>
              </li>
          </ul>
      </div>
  </div>
  <p id="copyright">&copy; 2017 Wheelhaus. All Rights Reserved</p>
</footer>