/* ------------------------------------------ */
/* Intro  */
/* ------------------------------------------ */

header {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./../../assets/img-about/one.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.intro {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  text-transform: uppercase;
  text-align: center;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.intro p {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.intro h1 {
  margin: 0;
  font-family: 'Pacifico', cursive;
  color: #e74c3c;
  font-size: 3em;
}


/* ------------------------------------------ */
/* Section - About Us */
/* ------------------------------------------ */
.icon {
  font-size: 200%;
  width: 30%;
  color: white;
  margin: 0;
}

.section-story {
  padding: 40px, 10px;
  overflow: hidden;
  background: #ED4264;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ed4264, #ffedbc);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -moz-linear-gradient(to bottom, #ed4264, #ffedbc);
  /* Mozilla fire fox */
  background: linear-gradient(to bottom, #ed4264, #ffedbc);
}

.story-one {
  background-color: #FF847C;
  position: relative;
  width: 90%;
  height: 80%;
  margin: auto;
  margin-top: 10%;
  padding: 20px 10px;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  color: white; 
}
.story-one h1{
  margin: 0 0 5px 0;
  text-transform: uppercase;
  font-size: 25px; 
}

.story-one p {
  font-size: small;
}

.story-image {
  position: relative;
  width: 95%;
  padding: 0;
  height: auto;
  margin: 0 10px;
  margin-bottom: 10%; 
}

.story-image img {
  height: auto;
  max-width: 100%;
}

/* ------------------------------------------ */
/* Section - About Us_2 */
/* ------------------------------------------ */

.section-story_two {
  padding: 40px, 10px;
  overflow: hidden;
  background: #70e1f5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #70e1f5, #ffd194);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -moz-linear-gradient(to top, #70e1f5, #ffd194);
  /* Mozilla fire fox */
  background: linear-gradient(to top, #70e1f5, #ffd194);
}

.story-two {
  background-color: #8E9FE6;
  position: relative;
  width: 90%;
  height: 80%;
  margin: auto;
  margin-top: 10%;
  padding: 20px 10px;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  color: white; 
}
.story-two h1, h2{
  margin: 0 0 5px 0;
  text-transform: uppercase;
  font-size: 25px; 
}

.story-two h2 {
  font-size: large;
}

.story-two p {
  font-size: small;
}

.story-image_two {
  position: relative;
  width: 95%;
  padding: 0;
  height: auto;
  margin: 0 10px;
  margin-bottom: 10%; 
}

.story-image_two img {
  height: auto;
  max-width: 100%;
}

/* ------------------------------------------ */
/* Section - About Us_3 */
/* ------------------------------------------ */

.section-story_three {
  padding: 40px, 10px;
  overflow: hidden;
  background: #3494e6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #3494e6, #ec6ead);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -moz-linear-gradient(to bottom, #3494e6, #ec6ead);
  /* Mozilla fire fox */
  background: linear-gradient(to bottom, #3494e6, #ec6ead);
}

.story-three {
  background-color: #C06C84;
  position: relative;
  width: 90%;
  height: 80%;
  margin: auto;
  margin-top: 10%;
  padding: 20px 10px;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  color: white; 
}
.story-three h1, h2, ul{
  margin: 0 0 5px 0;
  text-transform: uppercase;
  font-size: 25px; 
}

.story-list li {
  list-style: square;
  font-size: small;
  margin-bottom: 15px;
}
.story-three h2 {
  font-size: large;
}

.story-three p {
  font-size: small;
}

.story-image_three {
  position: relative;
  width: 95%;
  padding: 0;
  height: auto;
  margin: 0 10px; 
}

.story-image_three img {
  height: auto;
  max-width: 100%;
  margin-bottom: 0;
}

.story-four {
  background-color: #3E588F;
  position: relative;
  width: 90%;
  height: 80%;
  margin: auto;
  margin-top: 0;
  padding: 20px 10px;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  color: white; 
}

.story-image_four {
  position: relative;
  width: 95%;
  padding: 0;
  height: auto;
  margin: 0 10px;
  margin-bottom: 10%; 
}

.story-image_four img {
  height: auto;
  max-width: 100%;
}