/* ------------------------------------ */
/* Intro  */
/* ------------------------------------ */
* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 1.5;
}

p {
  margin-top: 0;
}

p:last-of-type {
  margin-bottom: 0;
}

img {
  width: 100%;
  height: auto;
}

.container {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background-color: #E9AC00;
}

.about-hero {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./../../assets/img-events/twenty.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    color: white;
}

.about-title {
    position: relative;
    width: 100%;
    top: 50%;
    left: 50%;
    font-weight: 700;
    font-size: 5rem;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

/* ------------------------------------ */
/* About Us  */
/* ------------------------------------ */

.wrapper {
  width: 95%;
  margin: 0 auto;
  max-width: 70em;
}

.about-textbox {
  background-color: #232323;
  padding: 3em;
  width: 100vw;
  margin-left: -2.5%;
  outline: 2px solid #00ffff;
  outline-offset: -2.5em;
  color: #fff;
  position: relative;
}

.about-textbox h1 {
  color: #00ffff;
  margin-top: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: .1em;
  background: #232323;
  padding: 0 .145em;
}

.about-textbox p {
  margin-top: 1em;
}

.about-image img {
  display: none;
}

.about-one {
    background: url('./../../assets/img-about/eleven.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 60vh;
}

/* ------------------------------------ */
/* Product Info  */
/* ------------------------------------ */



.product-intro {
  top: .0em !important;
}

.button {
    display: inline-block;
    font-size: 1.15rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: .5em 1.75em;
    color: #00ffff;
    border-color:#00ffff;
    margin-top: .5em;
    margin-bottom: .5em;
}

.button:hover,
.button:active {
    background-color: #00ffff;
    color: #fff;
}

.about-two {
    background: url('./../../assets/img-about/nine.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 60vh;
}

.about-three {
    background: url('./../../assets/img-about/last.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    /* width: 100vw; */
}

/* ------------------------------------ */
/* Media Queries  */
/* ------------------------------------ */

/*em is relative to the font size of its direct or nearest parent  */

/*rem is only relative to the html (root) font-size  */

/* 1rem = 16px  */
/* 25rem = 400px  */
@media (min-width: 25rem) {
  h1 {
    font-size: 2rem;
  }

/* 1em = 16px  */
/* .6em = .0375px  */
  .about-textbox h1 {
    top: .6em;
    padding: 0 .325em;
  }
}

@media (min-width: 400px) {
  .about-textbox h1 {
    top: .35em;
  }

  .product-intro {
    top: .25em !important;
  }
}

@media (min-width: 60rem) {
  h1 {
    font-size: 2.5rem;
  }

  .about-intro {
    background-image: url(./../../assets/img-about/twelve.jpg);
    padding: 5em;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 45%;
    padding-bottom: 10em;
  }

  .about-product {
    background-image: url(./../../assets/img-about/one.jpg);
    padding: 5em;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 45%;
    padding-bottom: 10em;
    top: 5em;
  }

  .about-event {
    background-image: url(./../../assets/img-about/six.jpg);
    padding: 5em;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 79%;
    padding-bottom: 10em;
    top: 5em;
  }

  .about-textbox {
    width: 65%;
    padding: 6em;
    outline-offset: -3.75em;
    margin-left: -2.5%;
    top: -10em;
    text-align: left;
    -webkit-box-shadow: 10px 10px 5px rgba(0,0,0,0.4);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    10px 10px 5px rgba(0,0,0,0.4);   /* Firefox 3.5 - 3.6 */
    box-shadow:         10px 10px 5px rgba(0,0,0,0.4);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  }

  .about-textbox h1 {
    top: .6em;
    left: 5rem;
    transform: translateX(0);
  }

  .product-textbox {
    top: 15em;
    left: 20em;
  }

  .product-intro {
    top: .6em !important;
  }

  .event-textbox {
    top: -20em;
    right: 3em;
  }

  .button {
    margin-top: 1.5em;
  }

  .about-image img {
    display:block;
    width: 60%;
    height: auto;
    position: relative;
    left: -5em;
    top: -6em;
    -webkit-box-shadow: 10px 10px 5px rgba(0,0,0,0.4);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    10px 10px 5px rgba(0,0,0,0.4);   /* Firefox 3.5 - 3.6 */
    box-shadow:         10px 10px 5px rgba(0,0,0,0.4);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    /* z-index: 20; */
  }

  .product-image img {
    top: -40em;
    left: 25em;
  }

  .event-image img {
    top: -48em;
    left: 6em;
  }

  .event-image-two img {
    left: -6em;
    top: -30em;
  }
}

@media (min-width:1200px) {
  .about-textbox {
    top: -13em;
    left: -5em;
  }

  .about-image img {
    left: -7em;
    top: -6em;
  }
  .product-image img {
    top: -43em;
    left: 35em;
  }

  .product-textbox {
    top: 19em;
    left: 32em;
  }

  .event-image img {
    top: -48em;
    left: 10em;
  }

  .event-image-two img {
    left: -7em;
    top: -34em;
  }
}
