<header class="intro">
  <div class="content">
    <h3>meet the</h3>
    <h1>community</h1>
  </div>
</header>

<!-- mission statement -->
<section class="grid">
  <div class="mission_statement">
    <div class="mission">
      <h3>Our Mission</h3>
      <h4>To provide beautiful lifestyle through creative design and cycling.</h4>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus deserunt repellat ad autem quo inventore possimus
        laudantium fuga iste. Tempore distinctio, ipsa, repudiandae, optio voluptas aspernatur temporibus asperiores voluptates
        consectetur officiis vel.</p>
      <a href="#">get in touch</a>
    </div>
  </div>
  <div class="pic1"></div>
  <div class="word">
    <div class="inner_text">
      <h3>Award-Winning Company</h3>
      <p>Best Places to Work since 2015</p>
    </div>
  </div>
  <div class="pic2"></div>
  <div class="pic3"></div>
</section>

<!-- Services  -->
<section class="grid2">
  <div class="bike">
    <div class="service_text">
      <h3>We Sell</h3>
      <p>Functional Bikes</p>
    </div>
  </div>
  <div class="essentials">
    <div class="service_text">
      <h3>We Design</h3>
      <p>Modern Bikes</p>
    </div>
  </div>
  <div class="repair">
    <div class="service_text">
      <h3>We Repair</h3>
      <p>Out of Tune Bikes</p>
    </div>
  </div>
</section>

<!-- Team -->
<section class="grid">
  <div class="meet">
    <div id="meet_text">
      <h3>Meet Our Team</h3>
      <span>You will love it</span>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam accusamus harum nemo nihil quos natus Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Quisquam, dolorem.</p>
    </div>
  </div>
  <div class="pic4">
    <div class="profile p_one">
      <h3>Jane Doe</h3>
      <p>Founder, Los Angeles</p>
    </div>
  </div>
  <div class="pic5">
    <div class="profile p_two">
      <h3>John Doe</h3>
      <p>Director of Operations, San Francisco</p>
    </div>
  </div>
  <div class="pic6">
    <div class="profile p_three">
      <h3>Marcie Doe</h3>
      <p>Director of Human Resources, Nevada</p>
    </div>
  </div>
  <div class="pic7">
    <div class="profile p_four">
      <h3>David Doe</h3>
      <p>Head Sales, Austin</p>
    </div>
  </div>
  <div class="pic8">
    <div class="profile p_five">
      <h3>Susan Doe</h3>
      <p>Head Designer, New York</p>
    </div>
  </div>

  <div class="join">
    <div id="join_text">
      <h3>Join</h3>
      <span>Our Team</span>
      <ul>
        <li>
          <p>DROP A LINE</p>
        </li>
        <li>
          <a href="mailto:suykim21@gmail.com">
            <i class="icon ion-chevron-right"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

</section>

<!-- Contact Section -->
<section class="grid">
  <div class="info">
    <div class="info_text">
      <h3>Get In Touch</h3>
      <p id="first_p">Our Offices</p>
      <p id="second_p">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident, voluptatibus! Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Excepturi culpa voluptas obcaecati rem cupiditate quis odio aliquam nemo autem quaerat.</p>
      <p id="third_p">Los Angeles</p>
      <ul>
        <li>
          <a class="info_icon" href="https://www.google.com/maps/dir/''/''/data=!4m5!4m4!1m0!1m2!1m1!1s0x80c2ea6c6c8282f1:0xf9ad0b4cfa7866bc?sa=X&ved=0ahUKEwiEoK-dirvXAhWE5iYKHdflAs0Q9RcICzAA"
            target="blank_">
            <i class="ion-ios-location"></i>
          </a>
        </li>
        <li>
          <p>2501 Honolulu Ave, Montrose, CA 91020</p>
        </li>
      </ul>
      <ul>
        <li>
          <a class="info_icon" href="suykim21@gmail.com">
            <i class="ion-ios-email"></i>
          </a>
        </li>
        <li>
          <p>wheelhaus@whgroup.com</p>
        </li>
      </ul>
      <ul>
        <li>
          <i class="info_icon ion-iphone"></i>
        </li>
        <li>
          <p>(818)249-3909</p>
        </li>
      </ul>

    </div>
  </div>
  <div class="submission">
    <div id="sub_text">
      <h3>Contact Us</h3>
      <p>Drop A Line</p>
    </div>

    <div class="message fadein fadeout" *ngIf="showMessage == true">{{message}}</div>
    <div class="error fadein fadeout" *ngIf="showMessage2 == true">{{error}}</div>

    <div class="submit"></div>

    <form (submit)="addInfo(formData)" #formData="ngForm" class="submission_form" method="post">

      <label>Name</label>
      <input type="text" name="name" ngModel>
      <br> 
      <label>E-mail</label>
      <input type="email" name="email" ngModel>
      <br> 
      <label>Subject</label>
      <input type="text" name="subject" ngModel>
      <br> 
      <label>Message</label>
      <input type="textarea" name="message" ngModel>
      <br>
      <br>
      <input type="submit" value="SEND MESSAGE">

    </form>
  </div>
</section>

<!-- Content Ending -->
<section id="content_end">
  <div id="end_text">
    <img src="../../assets/landing/wheelhaus_logo.png" alt="logo">
    <p>cycle your way</p>
    <h2>beautifully crafted</h2>
    <a routerLink="/bikes">view bikes</a>
    <br>
  </div>
</section>
