<div class="container">
  <section class="about-hero">
    <h1 class="about-title">hello.</h1>
  </section>

  <div class="wrapper">
    <section class="about-intro">
      <div class="about-textbox">
        <h1>our story</h1>
        <p>Reprehenderit deserunt fugiat enim dolore in veniam occaecat ex eu adipisicing magna. Ut deserunt velit nostrud sint ipsum ad. Nisi aliquip anim laboris sint dolore velit excepteur qui Lorem anim irure eu.</p>
        <p><strong>Cycling happiness</strong> Duis sint tempor laborum labore adipisicing voluptate mollit dolore deserunt reprehenderit amet aute laboris. Ea irure minim anim nostrud officia dolor. Amet pariatur voluptate ea commodo officia nostrud.</p>
      </div>
      <div class="about-image">
        <img src="assets/img-about/two.jpg" alt="two" align="left">
      </div>
    </section>
  </div>

  <section class="about-one"></section>

  <div class="wrapper">
    <section class="about-product">
      <div class="about-textbox product-textbox">
        <h1 class="product-intro">innovation</h1>
        <p>Labore nulla eiusmod non exercitation dolor sunt reprehenderit officia aliquip amet. Commodo sit mollit ad eu anim id consectetur sint exercitation nisi quis. Aliquip nostrud veniam pariatur adipisicing sit. Sint dolor laborum voluptate id eu anim duis nulla sit aliquip mollit aute. Nostrud consectetur exercitation aliquip ut ipsum aute pariatur culpa commodo. Veniam laborum nisi duis non enim magna ex.</p>
        <p><strong>Built with integrity</strong> Duis sint tempor laborum labore adipisicing voluptate mollit.</p>
        <a [routerLink]="['/events/details']" class="button button-small" class="button button-small">shop</a>
      </div>
      <div class="about-image product-image">
        <img src="assets/img-about/seven.jpg" alt="seven" align="left">
      </div>
    </section>
  </div>

  <section class="about-two"></section>

  <div class="wrapper">
    <section class="about-event">
      <div class="about-textbox event-textbox">
        <h1 class="product-intro">community</h1>
        <p>Voluptate aliquip occaecat laborum adipisicing deserunt ex irure excepteur ad reprehenderit dolor veniam qui eiusmod. Nisi enim do nisi Lorem laborum ullamco proident officia duis Lorem deserunt amet commodo id. Deserunt commodo commodo incididunt non magna incididunt ut nulla magna deserunt in consequat. Aute cillum incididunt non id aute pariatur occaecat aute veniam consectetur aliquip aute. Deserunt cillum incididunt ipsum aute.</p>
        <p><strong>Ride with style.</strong> Irure amet velit occaecat occaecat deserunt ullamco sint eu duis.</p>
        <a [routerLink]="['/events/details']" class="button button-small" class="button button-small">events</a>
      </div>
      <div class="about-image product-image event-image">
        <img src="assets/img-about/sixteen.jpg" alt="two" align="right">
      </div>
      <div class="about-image event-image-two">
        <img src="assets/img-about/eight.jpg" alt="eight" align="left">
      </div>
    </section>
   </div>


  <section class="about-three"></section>
</div>
