<div class="container">
  <section class="beginning">
    <div class="intro">
      <p>wheelhaus'</p>
      <h1>story</h1>
    </div>
  </section>

  <section class="section-story">
    <div class="story-one">
      <h1><b>how it all began</b></h1>
      <i class="ion-minus icon"></i>
      <p> Officia proident exercitation anim incididunt et eiusmod sit ullamco consequat do dolor. Commodo id exercitation ad
        mollit in Lorem magna sit sint ut nisi proident. Qui duis enim laborum elit laboris Lorem tempor. Mollit amet laboris
        nulla ex sit exercitation ea culpa consequat ex elit est. Magna non eu incididunt magna proident eiusmod minim pariatur
        quis nulla ullamco incididunt sunt nisi.</p>
      <p>Laboris sit ut voluptate excepteur nostrud aliqua excepteur reprehenderit voluptate est. Sint esse non qui sit duis
        cupidatat laboris quis excepteur ea nulla qui minim. Culpa irure elit adipisicing minim tempor occaecat enim enim
        eiusmod.</p>
      <p>Proident consequat ipsum dolor consequat excepteur deserunt sit minim ad. Magna quis commodo ex nisi culpa reprehenderit
        eu cupidatat. Sit dolor non deserunt in dolore proident et minim in ex. Non esse eu nisi elit proident reprehenderit
        culpa proident commodo aute nulla. Eiusmod non ad occaecat ut adipisicing ex nulla fugiat non labore ipsum cupidatat
        consequat ea. Culpa cupidatat dolore anim cillum amet occaecat.</p>
    </div>
    <div class="story-image">
      <img src="assets/img-about/two.jpg" alt="two">
    </div>
  </section>

  <section class="section-story_two">
    <div class="story-two">
      <h1>wheels with integrity</h1>
      <i class="ion-minus icon"></i>
      <h2>quality</h2>
      <p> Lorem fugiat qui in esse ullamco non proident nisi.</p>
      <p>Laboris sit ut voluptate excepteur nostrud aliqua excepteur reprehenderit voluptate est. Sint esse non qui sit duis
        cupidatat laboris quis excepteur ea nulla qui minim. Culpa irure elit adipisicing minim tempor occaecat enim enim
        eiusmod.</p>

      <h2>transparency</h2>
      <p>Proident consequat ipsum dolor consequat excepteur deserunt sit minim ad. Magna quis commodo ex nisi culpa reprehenderit
        eu cupidatat. Sit dolor non deserunt in dolore proident et minim in ex. .</p>
      <p>Laboris nulla sit aliquip adipisicing excepteur elit eu reprehenderit cupidatat nisi et.</p>
    </div>
    <div class="story-image_two">
      <img src="assets/img-about/last.jpg" alt="last">
    </div>
  </section>

  <section class="section-story_three">
    <div class="story-three">
      <h1>community</h1>
      <i class="ion-minus icon"></i>
      <p>Eu labore adipisicing velit velit consectetur deserunt nisi laboris labore incididunt adipisicing.</p>
      <h2>the #wheelwithus programme</h2>
      <p> Aliqua irure culpa sint anim pariatur ipsum ea velit Lorem in. Quis culpa officia eiusmod proident id elit nulla. Proident
        commodo eu irure do veniam. Non amet quis quis adipisicing. Reprehenderit proident labore laborum ex laborum occaecat
        sit esse Lorem ad ut occaecat. Sint do ex dolor dolor sit voluptate fugiat minim eu dolore. Sint laborum anim sint
        incididunt nisi aliquip ex minim.</p>
      <p>Laboris sit ut voluptate excepteur nostrud aliqua excepteur reprehenderit voluptate est. Sint esse non qui sit duis
        cupidatat.</p>
      <h2>contribution</h2>
      <p>Proident consequat ipsum dolor consequat excepteur deserunt sit minim ad. Magna quis commodo ex nisi culpa reprehenderit</p>
      <ul class="story-list">
        <li>culpa reprehenderit</li>
        <li>excepteur deserunt</li>
        <li>voluptate excepteur</li>
      </ul>
    </div>
    <div class="story-image_three">
      <img src="assets/img-about/three.jpg" alt="three">
    </div>
    <div class="story-image_four">
      <img src="assets/img-about/four.jpg" alt="four">
    </div>
  </section>
</div>
